[submodule ".elisp/color-theme-6.6.0/color-theme-tangotango"]
	path = .elisp/color-theme-6.6.0/color-theme-tangotango
	url = git@github.com:juba/color-theme-tangotango
[submodule "submodules/verilog-mode"]
	path = submodules/verilog-mode
	url = https://github.com/veripool/verilog-mode.git
