[user]
	email = schuyler.eldridge@gmail.com
	name = Schuyler Eldridge
[core]
	editor = emacsclient -nw
[alias]
        l = log --pretty=oneline --abbrev-commit --graph
        today = log --pretty=oneline --abbrev-commit --graph --since 3am
	ll = log --pretty=oneline --abbrev-commit --graph
