[user]
  email = schuyler.eldridge@ibm.com
  name = Schuyler Eldridge
  signingkey = 6AAD536D
[core]
  editor = emacsclient -nw
[alias]
  l = log --pretty=oneline --abbrev-commit --graph
  today = log --pretty=oneline --abbrev-commit --graph --since 12am
  ll = log --pretty=oneline --abbrev-commit --graph --decorate --all
  new = log --pretty=oneline --abbrev-commit --graph @{u}..HEAD
[push]
  default = simple
[rerere]
  enabled = false
[mailmap]
  file = ~/.mailmap
