# Jack Koenig
@jackkoenig <koenig@sifive.com>
@jackkoenig <koenig@sifive.com> <jack.koenig3@eecs.berkeley.edu>
@jackkoenig <koenig@sifive.com> <jack.koenig3@gmail.com>
@jackkoenig <koenig@sifive.com> <jackkoenig@google.com>

# Adam Izraelevitz
@azidar <azidar@gmail.com>
@azidar <azidar@gmail.com> <izraelevitz@google.com>

# Jonathan Bachrach
@jackbackrack <jrb@pobox.com>

# Andrew Waterman
@aswaterman <andrew@sifive.com>
@aswaterman <andrew@sifive.com> <waterman@cs.berkeley.edu>
@aswaterman <andrew@sifive.com> <waterman@eecs.berkeley.edu>
@aswaterman <andrew@sifive.com> <aswaterman@gmail.com>

# Schuyler Eldridge
@seldridge <schuyler.eldridge@gmail.com>
@seldridge <schuyler.eldridge@gmail.com> <schuyler.eldridge@ibm.com>
@seldridge <schuyler.eldridge@gmail.com> <schuyler@linux.ibm.com>

# Donggyu Kim
@donggyukim <dgkim@eecs.berkeley.edu>

# Chick Markley
@chick <chick@qrhino.com>
@chick <chick@qrhino.com> <chickmarkley@gmail.com>

# Albert Magyar
@albert-magyar <albert.magyar@gmail.com>

# Albert Chen
@albertchen-sifive <albert.chen@sifive.com>
@albertchen-sifive <albert.chen@sifive.com> <40366337+albertchen-sifive@users.noreply.github.com>

# Richard Lin
@ducky64 <richard.lin@berkeley.edu>
@ducky64 <richard.lin@berkeley.edu> <elpato25@gmail.com>

# Megan Wachs
@mwachs5 <megan@sifive.com>

# Angie Wang
@shunshou <shunshou@gmail.com>

# Colin Schmidt
@colinschmidt <colins@eecs.berkeley.edu>
@colinschmidt <colins@eecs.berkeley.edu> <colins@berkeley.edu>
@colinschmidt <colins@eecs.berkeley.edu> Colin Schmidt <colins@berkeley.edu>

# Paul Rigge
@grebe <rigge@berkeley.edu>

# Edward Wang
@edwardcwang <edward.c.wang@compdigitec.com>
@edwardcwang <edward.c.wang@compdigitec.com> <edwardcwang@users.noreply.github.com>
@edwardcwang <edward.c.wang@compdigitec.com> edwardcwang <edwardcwang@users.noreply.github.com>

# Palmer Dabbelt
@palmer-dabbelt <palmer@dabbelt.com>
@palmer-dabbelt <palmer@dabbelt.com> <palmer.dabbelt@eecs.berkeley.edu>

# Jim Lawson
@ucbjrl <ucbjrl@berkeley.edu>

# Alon Amid
@alonamid <alonamid@eecs.berkeley.edu>

# Howard (Howie) Mao
@zhemao <zhehao.mao@gmail.com>

# Patrick Li
@CuppoJava <psli@dhcp-46-93.EECS.Berkeley.EDU>

# Andrey Ayupov
@aayupov <andrey.ayupov@gmail.com>

# Colin Leway
@colin4124 <colinlin@credosemi.com.cn>
@colin4124 <colinlin@credosemi.com.cn> <colin4124@gmail.com>

# Yunsup Lee
@yunsup <yunsup@sifive.com>
@yunsup <yunsup@sifive.com> <yunsup@eecs.berkeley.edu>

# Ben Marshall
@ben-marshall <ben-marshall@users.noreply.github.com>

# David Biancolin
@davidbiancolin <david.biancolin@gmail.com>

# Deborah Soung
@debs-sifive <debs@sifive.com>

# Felix Yan
@felixonmars <felixonmars@archlinux.org>

# Haifeng Gu
@Jeremygu <11659581+Jeremygu@users.noreply.github.com>

# Henry Cook
@hcook <henry@sifive.com>
@hcook <henry@sifive.com> <hcook@eecs.berkeley.edu>
@hcook <henry@sifive.com> <henry.m.cook+github@gmail.com>

# Kevin Townsend
@kevintownsend <kevintownsend4219@gmail.com>

# Kritik Bhimani
@codelec <bhimanikritik@gmail.com>

# Leonard (Lenny) Truong
@leonardt <lenny@cs.stanford.edu>
@leonardt <lenny@cs.stanford.edu> <leonardtruong@gmail.com>

# Matthew Whiteside
@mattwhiteside <matt.whiteside@gmail.com>

# Scott Beamer
@sbeamer <sbeamer@eecs.berkeley.edu>
@sbeamer <sbeamer@eecs.berkeley.edu> <sbeamer3@gmail.com>

# Scott Johnson
@scottj97 <scottj@sifive.com>

# Shreesha Srinath
@ss2783 <ss2783@cornell.edu>

# Stephen Twigg
@sdtwigg <twigg@google.com>

# Stevo Bailey
@stevobailey <stevo.bailey@eecs.berkeley.edu>
@stevobailey <stevo.bailey@eecs.berkeley.edu> <stevo@berkeley.edu>

# Wei Song
@wsong83 <wsong83@gmail.com>

# Wenyu (Danny) Tang
@dt27182 <dt27182@gmail.com>
@dt27182 <dt27182@gmail.com> <danny.tang@a8.Millennium.Berkeley.EDU>

# Wesley Terpstra
@terpstra <wesley@sifive.com>

# Kei Nakazawa
@muojp <muo@muo.jp>

# Kamyar Mohajerani
@xnorme <kammoh@gmail.com>

# Chris Celio
@ccelio <christopher.celio@gmail.com>
@ccelio <christopher.celio@gmail.com> <celio@eecs.berkeley.edu>

# Hasan Genc
@hngenc <hngenc@utexas.edu>

# Brendan Sweeney
@mehnadnerd <mehnadnerd@gmail.com>

# Fabien Marteau
@martoni <fabien.marteau@armadeus.com>
@martoni <fabien.marteau@armadeus.com> <mail@fabienm.eu>

# Martin Schoeberl
@schoeberl <martin@jopdesign.com>

# Anders Pitman
@anderspitman <tapitman11@gmail.com>

# Micahel Gielda
@mgielda <mgielda@antmicro.com>

# Richard Xia
@richardxia <richardxia@richardxia.com>

# Sebastian Boe
@SebastianBoe <sebastianbooe@gmail.com>

# Steve Burns
@stevenmburns <steven.m.burns@intel.com>

# Gitter Badger Automated Tool
@gitter-badger <badger@gitter.im>

# ???
@yep <yep171@yahoo.com>
@yep <yep171@yahoo.com> <yep@users.noreply.github.com>

# A placeholder for a used that was deleted
# @ghost:Siddhanathan-Shanmugam <siddhanathan+social@gmail.com>

# ???
@NELEwb <37658751+NELEwb@users.noreply.github.com>

# Rachel Zoll
@rachelzoll <2018rzoll@berkeley.edu>

# Pranith Kumar
@pranith <bobby.prani@gmail.com>

# Jiuyang Liu
@sequencer <liujiuyang1994@gmail.com>

# Monica Kumaran
@mgnica <monica.kumaran@berkeley.edu>

# Edmond Cote
@edcote <edmond.cote@gmail.com>

# Nick Hynes
@nhynes <nhynes@berkeley.edu>

# Daniel Lu
@lu-ping <ropynlu@gmail.com>

# Øyvind Harboe
@oharboe <oyvind.harboe@zylin.com>

# Jimmy Situ
@jimmysitu <web@jimmystone.cn>

# Abraham Gonzalez
@abejgonzalez <abe.gonzalez@berkeley.edu>
@abejgonzalez <abe.gonzalez@berkeley.edu> <abe.j.gonza@gmail.com>

# John Wright
@jwright6323 <johnwright@eecs.berkeley.edu>
@jwright6323 <johnwright@eecs.berkeley.edu> <jwright6323@gmail.com>
@jwright6323 <johnwright@eecs.berkeley.edu> John Wright <jwright6323@gmail.com>

# Jerry Zhao
@jerry123 <jerryz123@berkeley.edu>

# Eric Chang
@pkerichang <pkerichang@gmail.com>

# Harrison Liew
@harrisonliew <harrisonliew@gmail.com>

# Jingyi Xu
@Jingyi99 <jingyixu@berkeley.edu>
@Jingyi99 <jingyixu@berkeley.edu> <37708002+Jingyi99@users.noreply.github.com>

# dpgrubb13
@dpgrubb13 <dpgrubb@berkeley.edu>
